* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

kbd {
    border: 1px solid red;
    width: 4em;
    height: 4em;
    display: inline-block; /*变成块级元素*/
    text-transform: uppercase;
}

kbd{
    position: relative;
}
kbd > button{
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}
kbd:hover > button{
    display: inline-block;
}
main {
    text-align: center;
}

#main {
    display: inline-block; /*变成内联元素*/
}

#main > div:nth-child(2) {
    margin-left: 2em;
}

#main > div:nth-child(3) {
    margin-left: 4em;
}